.header-mobile-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ReactModal__Overlay {
    z-index: 9999;
}

.header-mobile-menu-icon, .header-mobile-login-icon {
    color: var(--primary-basket-color);
    cursor: pointer;
}