.product-detail-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

@media screen and (max-width: 678px) {
    .product-detail-inner {
        flex-direction: column;
    }
}

@media screen and (max-width: 560px) {
    .product-detail-img img {
        width: 100%;
    }
}
